$background-color: #263238;
$foreground-color: #fff;

body {
    background-color: $background-color;
    color: $foreground-color;
    margin: 10px;
    overflow: hidden;
}

.clock {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;

    .hm {
        font-size: 21vh;
        color: #56C7FF;
    }

    .sec {
        font-size: 20vh;
        //color: #F3F99D;
        vertical-align: top;
    }

    .name {
        font-family: 'Lato', sans-serif;
        font-size: 10vh;
        color: #F1F1F0;
        margin-top: -8vh;
        margin-bottom: 2vh;
    }

    .meridian-am .hm {
        color: #9AEDFE;
    }

    .meridian-pm .hm {
        color: #57C7FF;
    }

    .workhours .hm {
        color: #5AF78D;
    }

    .sec-even .sec {
        color: #F3F99D;
        //opacity: 0.7;
    }
}

